<app-card titulo="" cor="#A559">
    <app-primeiro-component></app-primeiro-component>
</app-card>

<app-card titulo="" cor="#F878">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipes" cor="#E478">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="" cor="#D925">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="" cor="#A998">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="" cor="#6878">
    <app-componente-personalizado nome="João" sobrenome="Marinho" ></app-componente-personalizado>
    <app-componente-personalizado nome="Maria" sobrenome="Marinho" ></app-componente-personalizado>
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="" cor="#6689">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card titulo="" cor="#2438">
    <app-cliclo-de-vida-pai></app-cliclo-de-vida-pai>
</app-card>

